/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 UsmanShani
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {
  /* ### Colors */

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0);
  /* light color */
  --background-light: hsl(293, 100%, 98%);
  --on-background-light: hsl(264, 8%, 12%);
  --surface-light: hsl(293, 100%, 98%);
  --on-surface-light: hsl(264, 8%, 12%);
  --on-surface-variant-light: hsl(264, 7%, 29%);
  --surface-container-low-light: hsl(278, 44%, 96%);
  --surface-container-light: hsl(276, 38%, 95%);
  --surface-bright-light: hsl(293, 100%, 98%);
  --primary-light: hsl(256, 34%, 48%);
  --on-primary-light: hsl(0, 0%, 100%);
  --outline-light: hsl(270, 4%, 47%);
  --outline-variant-light: hsl(270, 11%, 79%);

  /* dark theme  */
  --background-dark: hsl(260, 14%, 8%);
  --on-background-dark: hsl(280, 17%, 90%);
  --surface-dark: hsl(260, 14%, 8%);
  --on-surface-dark: hsl(280, 17%, 90%);
  --on-surface-variant-dark: hsl(270, 11%, 79%);
  --surface-container-low-dark: hsl(264, 8%, 12%);
  --surface-container-dark: hsl(257, 10%, 14%);
  --surface-bright-dark: hsl(270, 5%, 23%);
  --primary-dark: hsl(258, 100%, 87%);
  --on-primary-dark: hsl(259, 58%, 28%);
  --outline-dark: hsl(264, 5%, 58%);
  --outline-variant-dark: hsl(264, 7%, 29%);

  /* ### Typography */

  --font-primary: "Open Sans", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;

  /* Font size */

  --base-font-size: 62.5%;
  --display-large: 5.7rem;
  --display-medium: 4.5rem;
  --display-small: 3.6rem;
  --headline-large: 3.2rem;
  --headline-medium: 2.8rem;
  --headline-small: 2.4rem;
  --title-large: 2rem;
  --title-medium: 1.6rem;
  --title-small: 1.4rem;
  --label-large: 1.4rem;
  --label-medium: 1.2rem;
  --label-small: 1.1rem;
  --body-large: 1.6rem;
  --body-medium: 1.4rem;
  --body-small: 1.2rem;

  /* Font weight */

  --weight-regular: 400;
  --weight-medium: 500;

  /* ### Border Radius */

  --shape-corner-extra-small: 4px;
  --shape-corner-small: 8px;
  --shape-corner-medium: 12px;
  --shape-corner-large: 16px;
  --shape-corner-full: 500px;
  --shape-corner-circle: 50%;

  /* ### Box shadow */

  --elevation-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;

  /* ### Others */

  --section-padding: 24px;
  --top-bar-height: 64px;

  /* ### Transition */



}
[data-theme="light"] {
  color-scheme: light;
  --background: var(--background-light);
  --on-background: var(--on-background-light);
  --surface: var(--surface-light);
  --on-surface: var(--on-surface-light);
  --on-surface-variant: var(--on-surface-variant-light);
  --surface-container-low: var(--surface-container-low-light);
  --surface-container: var(--surface-container-light);
  --surface-bright: var(--surface-bright-light);
  --primary: var(--primary-light);
  --on-primary: var(--on-primary-light);
  --outline: var(--outline-light);
  --outline-variant: var(--outline-variant-light);
}
[data-theme="dark"]
{
  color-scheme: dark;
  --background: var(--background-dark);
  --on-background: var(--on-background-dark);
  --surface: var(--surface-dark);
  --on-surface: var(--on-surface-dark);
  --on-surface-variant: var(--on-surface-variant-dark);
  --surface-container-low: var(--surface-container-low-dark);
  --surface-container: var(--surface-container-dark);
  --surface-bright: var(--surface-bright-dark);
  --primary: var(--primary-dark);
  --on-primary: var(--on-primary-dark);
  --outline: var(--outline-dark);
  --outline-variant: var(--outline-variant-dark);
}
@media (prefers-reduced-motion:no-preference) {
  :root{
    --motion-duration-short-1: 100ms;
   
  /* Easing */

  --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  }
  
}
/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{list-style: none;}
a,
img,
span,
input,
button,
textarea{display: block;}
a{
  color: inherit;
  text-decoration: none;
}
img{
  height: auto;
}
input,
button,
textarea{
  background: none;
  border: none;
  font:inherit;
}
input,
textarea{width: 100%;}
button{cursor: pointer;}
textarea{resize: none;}
html{
  font-family: var(--font-secondary);
  font-size: var(--base-font-size);
}
body{
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--body-large);
}
/*-----------------------------------*\
  #TYPOGRAPHY
\*-----------------------------------*/
.display-large{
  font-family: var(--font-primary);
  font-size: var(--display-large);
  font-weight: var(--weight-regular);
  line-height: 64px;
  letter-spacing: -0.25px;
}
.display-medium{
  font-family: var(--font-primary);
  font-size: var(--display-medium);
  font-weight: var(--weight-regular);
  line-height: 52px;

}
.display-small{
  font-family: var(--font-primary);
  font-size: var(--display-small);
  font-weight: var(--weight-regular);
  line-height: 44px;

}
.headline-large{
  font-family: var(--font-primary);
  font-size: var(--headline-large);
  font-weight: var(--weight-regular);
  line-height: 40px;

}
.headline-medium{
  font-family: var(--font-primary);
  font-size: var(--headline-medium);
  font-weight: var(--weight-regular);
  line-height: 36px;

}
.headline-small{
  font-family: var(--font-primary);
  font-size: var(--headline-small);
  font-weight: var(--weight-regular);
  line-height: 32px;

}
.title-large{
  font-family: var(--font-primary);
  font-size: var(--title-large);
  font-weight: var(--weight-regular);
  line-height: 28px;

}
.title-medium{
  font-family: var(--font-primary);
  font-size: var(--title-medium);
  font-weight: var(--weight-medium);
  line-height: 24px;
letter-spacing: 0.15px;
}
.title-small{
  font-family: var(--font-primary);
  font-size: var(--title-small);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;

}
.body-large{
 
  font-size: var(--body-large);
  font-weight: var(--weight-regular);
  line-height: 24px;
  letter-spacing: 0.5px;

}
.body-medium{
 
  font-size: var(--body-medium);
  font-weight: var(--weight-regular);
  line-height: 20px;
  letter-spacing: 0.25px;

}
.body-small{
 
  font-size: var(--body-small);
  font-weight: var(--weight-regular);
  line-height: 16px;
  letter-spacing: 0.4px;

}
.label-large{
  font-size: var(--label-large);
  font-weight: var(--weight-medium);
  line-height: 20px;
  letter-spacing: 0.1px;
}
.label-medium{
  font-size: var(--label-medium);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}
.label-small{
  font-size: var(--label-small);
  font-weight: var(--weight-medium);
  line-height: 16px;
  letter-spacing: 0.5px;
}
/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.material-symbols-outlined{
  width:1em;
  height: 1em;
  display: block;
  font-variation-settings: 
  'FILL' 0,
  'wght' 400,
  'GRAD'0,
  'opsz' 24;
}
:has(> .state-layer){
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.state-layer{
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  transition: var(--motion-duration-short-1) var(--motion-easing-linear);
  -webkit-transition: var(--motion-duration-short-1) var(--motion-easing-linear);
  -moz-transition: var(--motion-duration-short-1) var(--motion-easing-linear);
  -ms-transition: var(--motion-duration-short-1) var(--motion-easing-linear);
  -o-transition: var(--motion-duration-short-1) var(--motion-easing-linear);
  opacity: 0;
}
:has(> .state-layer):hover .state-layer {opacity: 0.08;}
:has(> .state-layer ):is(:focus,:focus-visible ,:active).state-layer{opacity:0.10 ;}
/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/**
 * BUTTON
 */
.icon-btn{
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}
/**
 * TAB
 */

/**
 * CHIP
 */

/**
 * CARD
 */

/**
 * INPUT FIELD
 */

/*-----------------------------------*\
  #TOP BAR
\*-----------------------------------*/
.topbar{
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--top-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline:16px;
  z-index: 4;
}
[data-theme="dark"] .logo .light,
[data-theme="light"] .logo .dark{display: none;}
[data-theme="dark"] .logo .dark,
[data-theme="light"] .logo .light{display: block;}

.theme-btn{
  --state-layer-bg:var(--on-surface-variant)
  color: var(--on-surface-variant);
  border-radius: var(--shape-corner-full);
  -webkit-border-radius: var(--shape-corner-full);
  -moz-border-radius: var(--shape-corner-full);
  -ms-border-radius: var(--shape-corner-full);
  -o-border-radius: var(--shape-corner-full);
  overflow: hidden;
}
[data-theme="dark"] .theme-btn .dark,
[data-theme = "light"] .theme-btn .light{display: none;}
/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

/*-----------------------------------*\
  #ABOUT CARD
\*-----------------------------------*/

/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
